@import "colors";

@mixin button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  outline: none;
  color: $white;
  width: 218px;
  display: flex;
  justify-content: center;
}

@mixin button_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
$iconSize: 2rem; // Taille de l'icône

.heart {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: $iconSize;
  height: $iconSize;

  .heart-icon {
    width: $iconSize;
    height: $iconSize;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;

    &.full {
      opacity: 0; // Cœur plein est invisible par défaut
    }

    &.empty {
      opacity: 1; // Cœur vide est visible par défaut
    }
  }

  &:hover .heart-icon.full {
    opacity: 1; // Afficher le cœur plein au survol
  }

  &:hover .heart-icon.empty {
    opacity: 0; // Cacher le cœur vide au survol
  }
}
/* Animation pour les plats d'entrée */
.entrees {
  opacity: 0;
  animation: appear 0.5s ease forwards;
}

/* Animation pour les plats principaux */
.plats {
  opacity: 0;
  animation: appear 0.5s ease 0.2s forwards;
}

/* Animation pour les desserts */
.desserts {
  opacity: 0;
  animation: appear 0.5s ease 0.4s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
