@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.heart {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
}
.heart .heart-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
.heart .heart-icon.full {
  opacity: 0;
}
.heart .heart-icon.empty {
  opacity: 1;
}
.heart:hover .heart-icon.full {
  opacity: 1;
}
.heart:hover .heart-icon.empty {
  opacity: 0;
}

/* Animation pour les plats d'entrée */
.entrees {
  opacity: 0;
  animation: appear 0.5s ease forwards;
}

/* Animation pour les plats principaux */
.plats {
  opacity: 0;
  animation: appear 0.5s ease 0.2s forwards;
}

/* Animation pour les desserts */
.desserts {
  opacity: 0;
  animation: appear 0.5s ease 0.4s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.top_back {
  margin: 0 42px 0 17px;
}

.top_accueil {
  width: 50%;
}

.logo {
  padding: 14px 89px 13px 89px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_text {
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: Shrikhand, sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  margin: 0;
}

.input {
  border-top: #000000;
  background: #EAEAEA;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 90px;
  gap: 17px;
}
.input .input_text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: black;
  outline: none;
  border: none;
  background: #EAEAEA;
}

.section1 {
  padding: 40px 0 60px 0;
  background-color: #F6F6F6;
}
.section1 .section1_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .section1_text .section1_text1 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  height: 68px;
  width: 275px;
}
.section1 .section1_text .section1_text2 {
  width: 315px;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  margin-bottom: 27px;
  color: grey;
}

.button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  outline: none;
  color: #FFFFFF;
  width: 218px;
  display: flex;
  justify-content: center;
}
.button:hover {
  background: linear-gradient(193deg, #b76ee7 -11.44%, #ff9ec6 123.93%);
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.35);
}
.button .button1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 24px 20px;
  padding-top: 54px;
}

.section2_ol {
  margin: 0;
  padding: 0 0 43px;
  list-style: none;
}

.section2_li {
  padding: 1.5rem;
  margin: 1rem 20px 25px 32px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}

.number {
  width: 1.5rem;
  height: 1.5rem;
  background: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  position: relative;
  left: -35px; /* Adjust this value for positioning */
}

.section2_logo {
  margin: 0 20px 0 0;
}

.section3 {
  padding: 0 0 60px 0;
  background-color: #F6F6F6;
}

.resto, .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.resto .section3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.resto_card {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  height: 260px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  width: 90%;
  position: relative;
  overflow: hidden;
}

.card_text span {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_text p {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.resto_img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  object-position: 50% 61%;
}

.resto_card .green_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  padding: 6px 10px;
  color: #278870;
  margin: 0;
  font-size: 14px;
  border-radius: 2px;
}

.card_body {
  display: flex;
  justify-content: space-between;
  margin: 9px 18px;
  text-align: left;
}

.heart {
  display: flex;
  align-items: center;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
}

.footer_title {
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer_text1 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer_text2 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.white {
  color: white;
}

.footer_flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.like {
  width: 22px;
  height: 21px;
  position: absolute;
  right: 25px;
}

.nouveau {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.top {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 13px;
}

.top_1 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.top_2 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.top_3 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.top_4 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  padding: 0 20px;
  background-color: #f6f6f6;
}

.menu .big_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.menu .big_title span {
  font-family: Shrikhand, sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.plat {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 0px -5px 15px -5px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  overflow: hidden;
  position: relative;
}

.food {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
}

.food_1 {
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Affiche "..." lorsque le texte est tronqué */
}

.box-container {
  width: 0; /* Largeur de la div .box-container */
  height: 100%; /* Hauteur de la carte parent */
  overflow: hidden;
}

.box {
  background-color: #99E2D0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  transition: width 0.5s ease-in-out;
  width: 0;
}

.plat:hover .box {
  width: 59px; /* Lors du survol, la div .box-container prendra 15% de la largeur */
  transition: width 0.5s ease-in-out;
}

.plat:hover .food {
  width: calc(100% - 59px);
  transition: width 0.5s ease-in-out;
}

.menu .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-pink {
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: rgb(255, 255, 255);
  padding: 15px 20px 15px 20px;
  border-radius: 36px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  width: 220px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.heading_menu {
  border-bottom: solid 3px #99E2D0;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 40px;
}

.name1 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name2 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.menu_row {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.price {
  color: #353535;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 1024px) {
  .resto_card {
    width: 45%;
  }
  .section2_ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section2_li {
    width: 30%;
    margin: 25px 0 25px 0;
  }
  .section2 {
    padding: 0 180px;
  }
  .section3 {
    padding: 0 180px;
  }
  .list {
    gap: 50px;
    margin-bottom: 30px;
  }
  .resto_card {
    margin: 0;
  }
  .menu {
    padding: 0 180px;
    margin: -35px 10%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
  .footer_title {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 16px;
  }
  .footer_flex {
    width: 190px;
  }
  .footer_text2 {
    width: 130px;
  }
  .top_back {
    position: absolute;
  }
  .top_accueil {
    width: 100%;
  }
}
.loader__bar {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateLoader 2s linear infinite;
}

.loader__bar-inner {
  width: 0px;
  height: 0px;
  background-color: #9356DC;
  animation: rotateLoader 2s ease-in;
  transform-origin: center center; /* Assure que la rotation se fait autour du centre de la barre */
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  99% {
    width: 100%;
    height: 100%;
  }
}
.loader__bg {
  width: 0;
  height: 0;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  animation: loader__bg 1s ease;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader__bg {
  0% {
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  80% {
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  99% {
    opacity: 0.7;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  100% {
    opacity: 0;
    position: relative;
    height: 0;
    width: 0;
  }
}
.dot-carousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-carousel 1.5s infinite linear;
}

@keyframes dot-carousel {
  0% {
    box-shadow: 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff;
  }
  50% {
    box-shadow: 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff;
  }
  100% {
    box-shadow: 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff;
  }
}
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-typing 1s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  }
}

/*# sourceMappingURL=main.css.map */
